<ion-card>
  <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">

        <ion-col lass="ion-align-self-center">
          <img src="{{ getUserSVC(assign.personId).picture}}" />
        </ion-col>

        <ion-col class="ion-align-self-center">
          <ion-icon name="analytics-outline"></ion-icon>
          <img src="{{getTaskService(assign.taskId).taskImage}}" />
        </ion-col>

        <ion-col class="ion-align-self-center">
          <ion-card-header>
            <ion-card-title>{{ getUserSVC(assign.personId).name }} se encargará de
              {{getTaskService(assign.taskId).taskName}} en un tiempo de {{getTaskService(assign.taskId).taskSeconds}} segundos.
            </ion-card-title>
          </ion-card-header>
        </ion-col>

        <ion-col>
          <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()">
            <ion-icon style="zoom:1.5" name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button icon-only fill="clear" (click)="onEditClick()">
            <ion-icon style="zoom:1.5" name="create-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-card>