<ion-card>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col lass="ion-align-self-center">
        <img alt="Our workers" src={{task.taskImage}} class="image">
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-card-content>
          <ion-card-title>{{task.taskName}}</ion-card-title>
          <ion-text>{{task.taskDescription}}</ion-text>
        </ion-card-content>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-text>Cantidad en segundos: {{task.taskSeconds}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-button icon-only fill="clear" (click)="onEditClick()">
          <ion-icon style="zoom:1.5" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()">
          <ion-icon style="zoom:1.5" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>